{% extends "template.html" %}
{% block content%}
      <form class="formularioJogo" action="{{ url_for('create') }}" method="post" enctype="multipart/form-data">

        <figure class="img-thumbnail col-md-4 formularioImagem">
          <img class="img-fluid" src="{{ url_for('image', game_Cover='GameCover_Default.jpg') }}">
          <figcaption>
            <label class="fileContainer">
              Change Title
              <input class="mt-3" type="file" name="imgFile" accept=".jpg" />
            </label>
          </figcaption>
        </figure>

        <fieldset>
          {{ form.csrf_token() }}
          <div class="form-group inputBox">
           {{ form.name.label(class="form-label") }}
           {{ form.name(class="form-control") }}
          </div>
          <div class="form-group inputBox">
            {{ form.category.label(class="form-label") }}
            {{ form.category(class="form-control") }}
          </div>
          <div class="form-group inputBox">
            {{ form.category.label(class="form-label") }}
            {{ form.plataform(class="form-control") }}
          </div>
          <div class="buttons">
            {{ form.save(class="btn btn-primary") }}
            <button class="btn btn-danger"><a class="text-decoration-none text-light" href="{{ url_for('index') }}">Return</a></button>
          </div>
        </fieldset>
      </form>
    </div>
{% endblock %}